version: '3.8'

services:
  backend:
    container_name: backend-app
    build:
      context: ./Backend
    restart: always
    env_file:
      - ./Backend/.env
    # We don't expose port 5000 to the host anymore, only to the internal network
    # Ports can be commented out if we only want Nginx to access it
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
